body,
html {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
h1,
p {
  font-family: Lato;
}

nav {
  padding: 20px 30px;
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
}

nav > ul {
  list-style-type: none;
  flex: 1;
}
nav > ul li {
  display: inline-block;
}
nav > ul a {
  padding: 0px 20px;
  text-decoration: none;
  color: #333333;
  font-weight: 900;
}

#authenticator label {
  display: block;
}

.criteria {
  background-color: #cfcfcf;
  margin: 40px 40px 10px 40px;
  padding: 10px 20px;
  border: 1px solid #333333;
  border-radius: 15px;
}

.criteria h2 {
  font-size: 1.1em;
}
