body,
html {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
h1,
p {
  font-family: Lato;
}

nav {
  padding: 30px 30px 30px 0px;
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #b7b7b7;
}

nav > ul {
  list-style-type: none;
  flex: 1;
  padding: 0px;
  margin: 0px;
}
nav > ul li {
  display: inline-block;
}
nav > ul a {
  padding: 10px 20px 10px 40px;
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  display: inline-block;
}

#authenticator label {
  display: block;
}

.criteria {
  font-size: 0.75em;
  background-color: #cfcfcf;
  margin: 20px 0px 10px 0px;
  padding: 10px 20px;
  border: 2px solid #b7b7b7;
  border-radius: 10px;
}

.criteria ul {
  margin: 0px 15px;
  padding: 0px 0px;
}

.criteria h2 {
  font-size: 1.1em;
}

.screen {
  padding: 0px 20px;
}
